
h1 {
    color: rgb(51, 48, 48);
    font-style: italic;
    font-size: xx-large;

}
body{
    background-size: cover;
    background :url(../images//Ghana-Flag.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

}
