
h1 {
    color: rgb(51, 48, 48);
    font-style: italic;
    font-size: xx-large;

}
body{
    background-size: cover;
    background :url(../images//Ghana-Flag.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Raleway', sans-serif;

}
.jumbotron{
    background: none;
}

.jumbotron h1{
    color: blanchedalmond;
    font-family: 'Raleway', sans-serif !important;
}
p{
    color: rgb(228, 91, 0);
}
label{
    text-align: center;
    color: rgb(27, 23, 23);
}
.form{
    text-align: left;
}
